body {
	background-color: #E8F7FF;
}

.h7 {
	font-size: 0.8rem;
}

.gedf-wrapper {
	margin-top: 0.97rem;
}

@media (min-width: 992px) {
	.gedf-main {
		padding-left: 4rem;
		padding-right: 4rem;
	}
	.gedf-card {
		margin-bottom: 2.77rem;
	}
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
	content: none;
	display: none;
}
.fa-search
{
padding: 10%;

}
.publicacao
{
	background-color: white;
}
.vertical-menu {
	width: 200px; /* Set a width if you like */
  }
  
  .vertical-menu a {
	background-color: #eee; /* Grey background color */
	color: black; /* Black text color */

	padding: 12px; /* Add some padding */
	text-decoration: none; /* Remove underline from links */
	display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside;
  }
  
  .vertical-menu a:hover {
	background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
	background-color: #4CAF50; /* Add a green color to the "active/current" link */
	color: white;
  }