<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="../../css/Cadastro.css" type="text/css">
<title>Cadastro</title>
<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                            <img src="../../Imagens/logo.png">
                        <h3>Seja bem vindo</h3>
                        <input type="submit" class="btnLogin"  value="Fazer login"/>
                        
                    </div>
                    <form method="POST">
                    <div class="col-md-9 register-right">
                       
                        <div class="tab-content" id="myTabContent">
                        
                                <h3 class="register-heading">Cadastro</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="Nome"class="form-control " placeholder="Nome *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="number" name="CPF"class="form-control " placeholder="CPF/CNPJ (sem .) *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="Endereco" class="form-control" placeholder="Endereco *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="Senha" class="form-control "  placeholder="Senha *" value="" />
                                        </div>
                                        <div class="form-group ">
                                            <div class="maxl ">
                                                <label class="radio inline"> 
                                                    <input type="radio" name="Sexo" value="H" checked>
                                                    <span> Homem </span> 
                                                </label>
                                                <label class="radio inline"> 
                                                    <input type="radio"  name="Sexo" value="M">
                                                    <span>Mulher </span> 
                                                </label>
                                            </div>
                                            <div class="row">
                                            <div class="form-group">
                                                    <label>Imagem</label>
                                                    <div class="input-group">
                                                        <span class="input-group-btn">
                                                            <span class="btn btn-default btn-file">
                                                               <input type="file" name="Imagem" id="imgInp">
                                                            </span>
                                                        </span>
                                                       
                                                    </div>
                                                    <img id='img-upload'/>
                                                </div>
                                            </div>
                                            <div class="row">
                                            <button type="submit" class=" btn btn-primary  col-md-3" name="">Registrar</button><br/>
                                            </div>
                                               
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control " name="Email"placeholder="E-mail *" value="" />
                                        </div>
                                        <div class="form-group ">
                                            <input type="text" minlength="9" maxlength="9" name="Telefone" class="form-control"  placeholder="Telefone *" value="" />
                                        </div>
                                       
                                        <div class="form-group ">
                                            <input type="text" class="form-control" name="DataNasc" placeholder="Data de nascimento (dd/mm/yyyy) *" value="" />
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6"></div>
                                        <input type="submit" class="btnLogin col-md-3" name="" value="Login"/><br/>
                                    </div>
                                      
                                        <div class="row">
                                                <div class="col-md-6"></div>
                                        <input type="submit" class="btnRegister col-md-3"  value="Register"/>
                                        </div>
                                       
                                    </div> -->
                                </div>
                            
                           
                        </div>
                    </div>
                </form>
                </div>

            </div>